.main1{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
    box-shadow: azure;
    box-sizing: border-box;
    box-decoration-break: clone;
}

.main1:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #0072ff, #00c6ff);
}

#text1{
    text-decoration: underline;
}

.link2{
    border-width: 2px;
    padding: 20px;
    border-style: dashed;
    
}